/* Notices */
.magty-notice {
    border: none;
}
.magty-notice-wrapper {
    padding: 24px;
}
.magty-notice-intro {
    margin-bottom: 32px;
}
.magty-notice-intro img.emoji {
    height: 3em !important;
    width: 3em !important;
}
.magty-notice-intro .intro__hello,
.magty-dashboard-wrapper .intro__hello {
    font-size: 16px;
    font-weight: 600;
    color: #1e1e1e;

    display: flex;
    align-items: center;
    gap: 8px;

    margin-bottom: 16px;
}
.magty-notice-intro .intro__thanks,
.magty-dashboard-wrapper .intro__thanks {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
    color: #1e1e1e;
}
.magty-notice-intro .intro__desc,
.magty-dashboard-wrapper .intro__desc {
    margin-top: 12px;
    color: #1e1e1e;
}
.magty-notice-intro .intro__thanks sup,
.magty-dashboard-wrapper .intro__thanks sup {
    color: #fff;
    background-color: #16a7f2;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 50px;
    letter-spacing: 0.5px;
}
.magty-notice-message {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 24px;
}
@media (max-width: 768px) {
    #magty-welcome-notice .magty-notice-message {
        flex-wrap: wrap;
    }
}
.magty-notice-image {
    max-width: 200px;
    display: none;
}
.magty-notice-image img {
    width: 100%;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}
@media (min-width: 992px) {
    .magty-notice-image {
        display: block;
    }
}
.magty-notice .button,
.magty-dashboard-wrapper .button {
    padding: 12px 18px;
    line-height: 1em;
}
.magty-notice .button-primary,
.magty-dashboard-wrapper .button-primary {
    color: #fff;
    border-color: #3858e9;
    background-color: #3858e9;
}
.magty-notice h2,
.magty-notice h3 {
    margin: 0 0 10px;
}
.magty-notice-review-content .magty-notice-intro {
    margin-bottom: 0;
}

.magty-review-btn-grp a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    line-height: 36px;
    padding: 0 12px;
    color: #2271b1;
    border: 1px solid #2271b1;
    background: #f6f7f7;
    border-radius: 2px;
    margin-right: 8px;
    margin-top: 16px;
}

.magty-review-btn-grp a span {
    font-size: 20px;
    margin-right: 8px;
}

/* Dashboard */
.appearance_page_magty-dashboard #wpwrap {
    background-color: #f8fafc;
}
.appearance_page_magty-dashboard #wpcontent {
    padding-left: 0;
}
.appearance_page_magty-dashboard #wpbody-content .notice {
    display: none !important;
}
.magty-dashboard-wrapper a {
    text-decoration: none;
}
.magty-dashboard-wrapper img {
    max-width: 100%;
    height: auto;
}
/* Header Nav */
.magty-dashboard-header .header-nav-wrapper {
    background-color: #fff;
    border-bottom: 1px solid #e2e8f0;
    padding: 0 1.5rem;
    min-height: 4rem;
    display: flex;
    align-items: stretch;
}
.magty-dashboard-header .header-tabs-wrapper {
    display: flex;
    gap: 32px;
}

.magty-dashboard-header .header-tabs-wrapper a {
    display: inline-flex;
    align-items: center;
    color: #046bd2;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 2px solid #046bd2;
    padding: 8px 0;
}
@media (max-width: 640px) {
    .magty-dashboard-header .header-tabs-wrapper {
        flex-wrap: wrap;
        gap: 12px;
    }
}
.magty-dashboard-header .header-tabs-wrapper a:not(.active) {
    border-color: transparent;
    color: #475569;
}

.magty-dashboard-header .header-tabs-wrapper a:not(.active):hover {
    color: #1e293b;
    border-color: #cbd5e1;
}

/* Getting started */
.magty-dashboard-body {
    padding: 2rem;
}
.magty-dashboard-body .welcome-section-wrapper {
    background-color: #fff;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}
.magty-dashboard-wrapper .intro__desc {
    font-size: 16px;
    color: #475569;
    line-height: 1.625rem;
}
.magty-dashboard-wrapper .intro__links {
    margin-top: 24px;
}
.magty-dashboard-wrapper .intro__links a {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    margin: 6px 0 0 0;
}
.magty-dashboard-body .welcome-section-image {
    max-width: 350px;
    display: none;
}
@media (min-width: 992px) {
    .magty-dashboard-body .welcome-section-intro {
        flex-basis: 70%;
    }
    .magty-dashboard-body .welcome-section-image {
        flex-basis: 30%;
        display: block;
    }
}

.magty-dashboard-body .welcome-section-image img {
    width: 100%;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}
.magty-dashboard-body .welcome-body-wrapper,
.magty-dashboard-wrapper .magty-upgrade-to-pro .content-wrapper {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    align-items: flex-start;
    margin-top: 32px;
}
.magty-dashboard-body .welcome-body-wrapper .first-col,
.magty-dashboard-body .welcome-body-wrapper .last-col,
.magty-dashboard-wrapper .magty-upgrade-to-pro .first-col,
.magty-dashboard-wrapper .magty-upgrade-to-pro .last-col {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media (min-width: 1024px) {
    .magty-dashboard-body .welcome-body-wrapper,
    .magty-dashboard-wrapper .magty-upgrade-to-pro .content-wrapper {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .magty-dashboard-body .welcome-body-wrapper .first-col,
    .magty-dashboard-wrapper .magty-upgrade-to-pro .first-col {
        grid-column: span 2 / span 2;
    }
}
.magty-dashboard-wrapper a.link-with-icon {
    font-size: 14px;
    font-weight: 500;
}
.magty-dashboard-wrapper a.link-with-icon span {
    margin-left: 6px;
}
.magty-dashboard-body .customizer-links-wrapper {
    background-color: #fff;
    padding: 2rem;
}
.magty-dashboard-body .customizer-links-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}
.magty-dashboard-body .customizer-links-heading p {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: #1e293b;
}
.magty-dashboard-body .customizer-links-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-top: 32px;
}
.magty-dashboard-body .customizer-links-content ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0;
}
.magty-dashboard-body .customizer-links-content ul li a {
    font-size: 14px;
    font-weight: 500;
}
.magty-dashboard-body .customizer-links-content .dashicons {
    margin-right: 4px;
}
.magty-dashboard-body .last-col > div {
    background-color: #fff;
    padding: 1.5rem;
}
.magty-dashboard-body .last-col > div h3 {
    margin-top: 0;
}

.magty-dashboard-body .support-section-wrapper {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 24px;
}
@media (min-width: 640px) {
    .magty-dashboard-body .support-section-wrapper {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
.magty-dashboard-body .support-section-wrapper > div {
    background-color: #fff;
    padding: 1.5rem;
}
.magty-dashboard-body .dashicons-star-filled {
    color: #ffac33;
}

/* Upgrade to Pro */
@media (min-width: 768px) {
    .magty-dashboard-wrapper .magty-upgrade-to-pro .content-wrapper {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .magty-dashboard-wrapper .magty-upgrade-to-pro .first-col {
        grid-column: span 2 / span 2;
    }
}
.magty-upgrade-to-pro {
    background-color: #000;
    color: #fff;
    padding: 24px 48px;
}
.magty-upgrade-to-pro .feature-title {
    color: #fff;
    margin: 0;
}
.magty-upgrade-to-pro .features-list ul {
    display: flex;
    flex-wrap: wrap;
}
.magty-upgrade-to-pro .features-list ul li {
    display: block;
    width: 100%;
}
@media (min-width: 480px) {
    .magty-upgrade-to-pro .features-list ul li {
        width: 50%;
    }
}
.magty-upgrade-to-pro .dashicons-yes,
.magty-upgrade-to-pro .dashicons-plus {
    color: green;
    margin-right: 6px;
}
.magty-upgrade-to-pro .upgrade-card {
    color: #fff;
    text-align: center;
    padding: 32px;
    box-shadow: 0 0 10px #ff0000;
}
.magty-upgrade-to-pro .upgrade-card p {
    margin: 0 0 24px;
}

.magty-upgrade-to-pro .upgrade-card span {
    background: #0000ff;
    color: #fff;
    padding: 4px 8px;
    margin-bottom: 16px;
    display: inline-block;
    border-radius: 5px;
}

/* Recommended Plugins */
.magty-recommended-plugins {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 24px;
}
@media (min-width: 640px) {
    .magty-recommended-plugins {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media (min-width: 992px) {
    .magty-recommended-plugins {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
.magty-recommended-plugins .magty-plugin-card {
    border: 1px solid #e1e1e1;
}
.magty-recommended-plugins .plugin-wrap {
    padding: 24px;
    background-color: #fff;
}
.magty-recommended-plugins .plugin-action {
    padding: 16px 24px;
}
.magty-recommended-plugins .plugin-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    margin-bottom: 16px;
    font-size: 12px;
}
.magty-recommended-plugins .plugin-title img {
    max-width: 50px;
}
.magty-recommended-plugins .plugin-action a,
.magty-dashboard-wrapper .starter-template-action a {
    display: inline-flex;
    align-items: center;
    padding: 4px 16px;
    line-height: 1;
    border: none !important;
}
.magty-dashboard-wrapper .starter-template-action a:not(.installing) {
    padding: 12px 18px;
}
.magty-recommended-plugins .plugin-action a.installing:before,
.magty-dashboard-wrapper .starter-template-action a.installing:before {
    color: #fff !important;
}
.magty-recommended-plugins .plugin-action a.activate {
    background-color: #fff !important;
}
.magty-recommended-plugins .plugin-action a.activated {
    color: #008000 !important;
    background-color: #fff !important;
}
.magty-recommended-plugins .plugin-action a.activated:focus {
    box-shadow: none;
}

/* Starter Templates */
.magty-dashboard-body .starter-templates-notice {
    max-width: 40rem;
    height: max-content;
    background-color: #fff;
    margin: auto;
    padding: 64px 32px;
    text-align: center;
}
.magty-dashboard-body .starter-templates-notice h2 {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 32px;
}
.magty-dashboard-body .starter-template-desc {
    margin: 0 0 32px;
}

/* Free vs Pro*/
.magty-text-left {
    text-align: left;
}
.magty-text-center {
    text-align: center;
}
.magty-dashboard-body .free-vs-pro-wrapper {
    margin-top: 12px;
}
.magty-dashboard-body table {
    min-width: 100%;
    background-color: #fff;
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
}
.magty-dashboard-body table .dashicons {
    font-size: 28px;
}
.magty-dashboard-body table .dashicons-yes {
    color: #22c55e;
}
.magty-dashboard-body table .dashicons-no {
    color: #f87171;
}
.magty-dashboard-body table th {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: #1e293b;
    padding: 0.875rem 0.75rem;
}
.magty-dashboard-body tbody tr {
    border: 1px solid #e2e8f0;
}
.magty-dashboard-body tbody td {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #475569;
    padding: 1rem 0.75rem;
}
@media (min-width: 640px) {
    .magty-dashboard-body table th:first-child,
    .magty-dashboard-body tbody tr td:first-child {
        padding-left: 2rem;
    }
}
.magty-dashboard-wrapper .section-cta-upgrade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 32px;
    border: 1px solid #eee;
    background-color: #fff3f3;
}
.magty-dashboard-wrapper .section-cta-upgrade span {
    margin-bottom: 1rem;
    color: #fff;
    background-color: #0000ff;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 50px;
    letter-spacing: 1px;
}
.magty-dashboard-wrapper .section-cta-upgrade h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    color: #1e293b;
    margin: 0 0 0.2rem 0;
}
.magty-dashboard-wrapper .section-cta-upgrade p {
    margin: 0 0 2rem 0;
    max-width: 42rem;
    font-size: 16px;
}
.magty-dashboard-wrapper .button-plus {
    background-color: #008000;
    border-color: #008000;
    font-size: 14px;
    font-weight: 600;
}
.magty-dashboard-wrapper .button-plus:hover,
.magty-dashboard-wrapper .button-plus:focus {
    background-color: #035203;
}
.magty-dashboard-body .free-vs-pro-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
}
.magty-dashboard-body .free-vs-pro-footer a {
    font-size: 20px;
    color: #046bd2;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
}
.magty-dashboard-body .free-vs-pro-footer a span.dashicons {
    margin-left: 6px;
    width: 30px;
    height: 30px;
    font-size: 30px;
}
